<!-- head -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %> 

<%- messages() %>
<div class="form">
<form>
    <input type="email" name="account_email" placeholder="email/username" required>
    <input type="password" name="account_password" placeholder="password" required>
    <label>Password <input type="submit" name="login" required placeholder=""></label>
    <a href="./register">
</form>
</div>
