@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --primary-color: #ACC8E5;
  --secondary-color:#112A46;
  --accent-color: #D6C362;
  font-family: "Newsreader", serif;
  font-weight: 400;
  font-style: normal;
}
a:link{
  color: var(--accent-color);
  background-color:  var(--secondary-color);
}
a:visited{
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.upgrades{
    display: flex;
    flex-direction: row;
  }
ul{
  display: flex;
  flex-direction: row;
}
li{
  margin: 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.notice{
  color: var(--accent-color);
}
@media(min-width: 900px){
  .delRev{
    margin: 10px;
  }
  .delUp{
    margin: 10px;
  }
  .info{
    display: flex;
    flex-direction: row;
  }
}