<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<%- links %>
<h2>Manage Inventory</h2>
<p>Select item from list belonging to classification.</p>
<%- classification %>
<table id="inventoryDisplay"></table>
<noscript>Javascript must be enabled to use this page.</noscript>
<script src="../..js/inventory.js"></script>