<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<%- links %>
<a href="" title="add new classification">add new classification</a>
<a href="/" title="add new inventory">add new inventory</a>